In [22]:
from pprint import pprint
#사용할때가 언제인지 나중에 알아서 알 것

In [23]:
#좀 쓰다가 tab누르면 저장되어 있는 변수들을 볼 수 있음.
#dict.keys()
#dict.values()
#dict.items() 들도 알 것

jihun = dict(
name = 'Jihun',
age = 20,
birth = '0918',
height = 185.3,
)
jihun

{'name': 'Jihun', 'age': 20, 'birth': '0918', 'height': 185.3}

In [24]:
jihun_name = jihun.get('name')
print(jihun_name)

Jihun

In [25]:
jihun_weight = jihun.get('weight')
print(jihun_weight)
#get()을 이용하면 오류가 나는 것을 방지한다.

None

# Dictionary2

In [26]:
len(jihun)

4

In [27]:
'name' in jihun

True

In [28]:
'weight' in jihun

False

In [29]:
a_list = [1,2,3,4,5]
a_list

[1, 2, 3, 4, 5]

In [30]:
6 not in a_list

True

In [31]:
'weight' not in jihun

True

In [32]:
jihun.setdefault('weight', 72)
#값이 없을 경우에 72로 바꿔준다. 이미 값이 있으면 실행되지 않음.

72

In [33]:
jihun

{'name': 'Jihun', 'age': 20, 'birth': '0918', 'height': 185.3, 'weight': 72}

In [34]:
jihun.update({'age' : 24})

In [35]:
jihun.pop('age')

24

In [36]:
jihun

{'name': 'Jihun', 'birth': '0918', 'height': 185.3, 'weight': 72}

# 집합-Set

In [37]:
a={}
type(a)

dict

In [43]:
a = {1,2,3}
type(a)
#중복되는 값이 없다는 것이 set의 장점. 수학에서의 집합과 동일.

set

In [44]:
s1 = set([1,2,3])
print(s1)
print(type(s1))

{1, 2, 3}
<class 'set'>

In [45]:
l1 = [1,2,3,3,3,3,3,3]
l2 = list(set(l1))
l2

[1, 2, 3]

In [48]:
#집합 선언
s1 = {1,2,3}
s2 = {2,4,5}

In [49]:
#교집합
print(s1 & s2)
print(s1.intersection(s2))
#s1, s2 순서가 바꿔어도 동일.

{2}
{2}

In [51]:
#합집합
print(s1 | s2)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [52]:
#차집합
print(s1 - s2)
print(s1.difference(s2))

{1, 3}
{1, 3}

In [53]:
a_str = "abcd"
'a' in a_str

True

In [55]:
print(s1)
print(s2)
print(s1^s2)
print(s1.symmetric_difference(s2))
#대칭 차집합. 합집합 - 교집합

{1, 2, 3}
{2, 4, 5}
{1, 3, 4, 5}
{1, 3, 4, 5}

In [56]:
s1 = {1,2,3}
s2 = {0,1,2,3,4,5}
s1<=s2

True

In [57]:
s1.issuperset(s2)

False

In [58]:
s1.issubset(s2)

True

In [59]:
s2.issuperset(s1)

True

In [61]:
s1 = {1,2,3}
s2 = {4,5,6}
s1.isdisjoint(s2)

True

In [62]:
s1.add(4)
s1

{1, 2, 3, 4}

In [63]:
s1.remove(1)
s1

{2, 3, 4}

In [65]:
s1.discard(3)
s1

{2, 4}

# 제어문

In [67]:
a=10

if a==5:
    print("a는 5입니다.")
    
if a==10:
    print("a는 10입니다.")

a는 10입니다.

In [68]:
#pass문은 아무것도 하지않음. if,for,def등에서도 자주쓰인다.
if a==10:
    pass
print("코드가 실행되었습니다.")

코드가 실행되었습니다.

In [69]:
str_1 = "life is too short"
str_1

if str_1:
    print("실행되었습니다.")

실행되었습니다.

In [72]:
l1 = []
if l1:
    print('asdf')
    
if not l1:
    print('비었음')

비었음

In [73]:
if None:
    print('이건 none이다.')

In [74]:
if not None:
    print('이건 none이다.')

이건 none이다.

In [76]:
if type(str_1)==type(str()):
    print('솰라솰라')

솰라솰라

In [88]:
a=20

if a<5:
    print("a")
elif a<10:
    print('b')
elif a<15:
    print('c')
else:
    print('d')

#중간에 조건이 충족되면 뒤는 보지도 않는다.

d

# 연습문제1

In [89]:
a = int(input('점수1: '))
b = int(input('점수2: '))
c = int(input('점수3: '))

if a>=0 and a<=100 and b>=0 and b<=100 and c>=0 and c<=100:
    
    if a>65 and b>65 and c>65:
        print('합격')
    else:
        print('불합격')
        
else:
    print('잘못된 점수가 입력되었습니다')
    
# 첫번째 if문대신  'if a not in range(101) or b not in range(101) or c not in range(101):' 도 가능
'''
if a not in range(101) or b not in range(101) or c not in range(101):
elif ...
else ...
'''

점수1: 66
점수2: 66
점수3: 666
잘못된 점수가 입력되었습니다

'\nif a not in range(101) or b not in range(101) or c not in range(101):\nelif ...\nelse ...\n'

# 연습문제2

In [97]:
a = int(input('정수를 입력해주세요: '))
if a==0:
    print('0은 애매합니다.')
elif a % 2 == 1:
    print('입력하신 {0}는 홀수입니다.' .format(a))
    b = int(input('짝수를 입력해주세요: '))
    if b % 2 == 0:
        print('입력하신 {0}는 짝수입니다.' .format(b))
else:
    print("말좀들어라")

정수를 입력해주세요: 55
입력하신 55는 홀수입니다.
짝수를 입력해주세요: 56
입력하신 56는 짝수입니다.

In [92]:
a=int(input('정수를 입력해주세요: '))

if a==0:
    print('0은 애매합니다')
elif a % 2 == 1:
    print('홀수입니다')
else:
    print('짝수입니다.')

정수를 입력해주세요: 66
짝수입니다.

# for문

In [98]:
for i in range(10):
    print('현재값:', i)

현재값: 0
현재값: 1
현재값: 2
현재값: 3
현재값: 4
현재값: 5
현재값: 6
현재값: 7
현재값: 8
현재값: 9

In [100]:
for i in range(0,10,2):
    print('현재값:', i)
#iterator안에는 리스트, 스트링, 딕셔너리, 집합 등 길이가 긴 것이 들어간다.

현재값: 0
현재값: 2
현재값: 4
현재값: 6
현재값: 8

In [101]:
for i in [1,2,3,4,5]:
    print('리스트 현재값: ', i)

리스트 현재값:  1
리스트 현재값:  2
리스트 현재값:  3
리스트 현재값:  4
리스트 현재값:  5

In [103]:
t = (1,2,3)
for i in t:
    print(i)

1
2
3

In [104]:
#딕셔너리의 경우 key값을 가져와서 반복.

# 연습문제 1-1

In [106]:
a = int(input('정수를 입력해주세요: '))
for i in range(a):
    print('안녕')

정수를 입력해주세요: 3
안녕
안녕
안녕

# 연습문제 1-2

In [115]:
a = int(input('정수를 입력해주세요: '))
for i in range(1,a+1):
    print('*'*i)

정수를 입력해주세요: 5
*
**
***
****
*****

# 연습문제 1-3

In [113]:
a = int(input('정수를 입력해주세요: '))
for i in (range(a,0,-1)):
    print('*'*i)

정수를 입력해주세요: 5
*****
****
***
**
*

In [215]:
a = int(input('정수를 입력해주세요: '))
for i in sorted((range(1,a+1)),reverse=True):
    print('*'*i)

정수를 입력해주세요: 5
*****
****
***
**
*

#### enumerate

In [114]:
a= ['a','b','c','d','e']
for idx, value in enumerate(a):
    print(idx,value)

0 a
1 b
2 c
3 d
4 e

# 연습문제 2-1

In [180]:
x = [3,6,9,20,-7,5]
for i in x:
    print(i*10)
for i in range(len(x)):
    x[i] = x[i]*10

30
60
90
200
-70
50

In [181]:
x

[30, 60, 90, 200, -70, 50]

In [182]:
#다른답안
for idx, val in enumerate(x):
    x[idx] *= 10
print(x)
#range(len())도 쓸 수 있다.

[300, 600, 900, 2000, -700, 500]


# 연습문제 2-2

In [203]:
y = {'math':70, 'science':80, 'english':20}
for i in y:
    print(y[i]+20)

90
100
40

In [204]:
for idx, val in enumerate(y):
    y[val] += 20
print(y)

{'math': 90, 'science': 100, 'english': 40}

In [205]:
for i in enumerate(y):
    y[i[1]] += 20
print(y)
#for 문에 idx, val대신 i로, 아랫줄은 y[i[0]]으로 써도 되지만 이해하기 어려운 코드는 나쁜 코드다.

{'math': 110, 'science': 120, 'english': 60}

In [206]:
for i in y:
    y[i] += 20
print(y)
# 위의 청크는 enumuerate가 필요없기 때문에 나오는 다른 답
# enumerate는 인덱스와 값을 순서쌍으로 가진 튜플의 리스트를 생성

#for문을 돌릴 수 있는지 없는지는 각 변수의 속성 중에(dir()로 확인한다. '__iter__' in dir(...)=True) iterater가 있으면 돌릴 수 있음.

{'math': 130, 'science': 140, 'english': 80}

# 연습문제 2-3

In [193]:
a = int(input("구구단을 볼 숫자를 입력하십시오 : "))
for i in range(1,10):
    print('{0}*{1} ='.format(a,i),a*i)

# 마지막 줄에 print('{0} * {1} = {2}'.format(a, x, a*x))도 가능
# 또는 print(f'{a}*{x} = {a*x}')

구구단을 볼 숫자를 입력하십시오 : 55
55*1 = 55
55*2 = 110
55*3 = 165
55*4 = 220
55*5 = 275
55*6 = 330
55*7 = 385
55*8 = 440
55*9 = 495

# 연습문제 3

In [233]:
word = ['school','game','piano','science','hotel','mountain']
new_list = []
for i in range(len(word)):
    if len(word[i])>=6:
        new_list.append(word[i])
new_list
"""
for i in word:
    if len(i)>=6:
        new_list.append(i)
"""
#또는
'''
for i in word:
    if len(i)>=6:
        new_list += [i]
'''
#extend와 remove를 이용할 수도 있다.

'\nfor i in word:\n    if len(i)>=6:\n        new_list.append(i)\n로 간결하게 쓸 수 도 있음.\n'

In [234]:
for i in range(2,10):
    for j in range(1,10):
        print('{0}*{1}={2}'.format(i,j,i*j))
    print("-"*10, "%s단 끝" % i)

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
---------- 2단 끝
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
---------- 3단 끝
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
---------- 4단 끝
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
---------- 5단 끝
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
---------- 6단 끝
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
---------- 7단 끝
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
---------- 8단 끝
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
---------- 9단 끝

In [241]:
a = int(input('어퍼바운드 숫자를 입력하십시오 : '))
for i in range(1,a+1):
    if i%3==0 and i%5==0:
        print('3과 5의 공배수')
    elif i%3==0:
        print('3의배수')
    elif i%5==0:
        print('5의배수')
    else:
        print(i)

어퍼바운드 숫자를 입력하십시오 : 15
1
2
3의배수
4
5의배수
3의배수
7
8
3의배수
5의배수
11
3의배수
13
14
3과 5의 공배수