In [1]:
x = 10
a, b, c = 100, 200, 30
print(x)
print(a,b,c)

10
100 200 30

In [2]:
x = 20
print(x)
print(a,b,c)

20
100 200 30

# 자료형

In [3]:
type(10)

int

In [4]:
type(3.5)

float

# 연산자

In [5]:
a = 10
b = 20
a*b

200

In [6]:
a/b

0.5

In [7]:
a-b

-10

In [8]:
a+b

30

In [9]:
a = 2
b = 3
a**b

8

In [10]:
a**5

32

In [12]:
10//3

3

In [13]:
10%3

1

In [14]:
1+3*5

16

In [15]:
(1+3)*5

20

In [16]:
3+3.0

6.0

# 연습문제1

In [17]:
a=7
b=3.0

c = a//b
d = a%b
e = a**b

print(c,d,e)

2.0 1.0 343.0

# 연습문제2

In [19]:
mike = 80
judy = 75
sera = 100

int((mike + judy + sera) / 3)

85

In [20]:
2>1

True

In [21]:
2<1

False

In [22]:
2<=2

True

In [23]:
'a' == 'a'

True

In [24]:
'a' != 'b'

True

In [26]:
1== '1'

False

In [27]:
1 == int('1')

True

In [29]:
(1<2) and not(-1>2)

True

In [30]:
print(bool(1))
print(bool(-1))
print(bool(0))
print(bool(0.0))

True
True
False
False

# 연습문제3

In [38]:
num1 = int(input("입력1 : "))
num2 = int(input("입력2 : "))
num3 = int(input("입력3 : "))

bool((num1>65) and (num2>65) and (num3>65))

입력1 : 66
입력2 : 66
입력3 : 66

True

# None

In [40]:
x = None
print(x)
print(type(x))

None
<class 'NoneType'>

# 문자열

In [41]:
single = "안녕하세요"
print(single)
print(type(single))

안녕하세요
<class 'str'>

In [43]:
multi = """
안녕하세요.
잘 부탁드립니다.
"""
#객체 지정을 안하면 주석처리
# ''''''를 사용해도 동일
print(multi)
print(type(multi))

안녕하세요.
잘 부탁드립니다.

<class 'str'>

In [45]:
a = 'hello'
b = 'world'

a+' '+b

'hello world'

In [46]:
a*3

'hellohellohello'

In [48]:
print('hello\"world')

hello"world

In [51]:
quote = 'hello world!'
quote[1:3:2]

'e'

In [125]:
quote = '가나다라마바사아자차카타파하'
quote[0:12:3]

'가라사차'

In [127]:
quote[0:-1:2]

'가다마사자카파'

In [133]:
quote[13:0:-1]

'하파타카차자아사바마라다나'

In [73]:
quote[:]

'가나다라마바사아자차카타파하'

In [74]:
quote[:3]

'가나다'

In [75]:
quote[7:]

'아자차카타파하'

In [54]:
quote[-4]

'카'

## 문자열 서식 문자

In [58]:
name = "유영창"
intro = '안녕하세요. 저는 %s입니다.' % name
print(intro)

안녕하세요. 저는 유영창입니다.

In [59]:
name = "신윤수"
intro = "안녕하세요 저는 %s입니다."
print(intro % name)

안녕하세요 저는 신윤수입니다.

In [61]:
age = 12
intro = "안녕하세요 저는 %d살입니다."
print(intro % age)

안녕하세요 저는 12살입니다.

In [62]:
age = 12.1234
intro = "안녕하세요 저는 %.3f살입니다."
print(intro % age)

안녕하세요 저는 12.123살입니다.

In [63]:
quote = "나는 %s, 키는 %s이다." % ('신윤수','190')
quote

'나는 신윤수, 키는 190이다.'

In [65]:
quote = "나는 {0}, 키는 {1}이다." .format('신윤수','195')
quote

'나는 신윤수, 키는 195이다.'

In [66]:
quote = "나는 {0:<10}, 키는 {1}이다." .format('신윤수','195')
quote

'나는 신윤수       , 키는 195이다.'

In [67]:
quote = "나는 {0:>10}, 키는 {1}이다." .format('신윤수','195')
quote

'나는        신윤수, 키는 195이다.'

In [69]:
quote = "나는 {0:^10}, 키는 {1}이다." .format('신윤수','195')
quote
#왼정렬 우정렬 가운데정렬 하고 길이설정

'나는    신윤수    , 키는 195이다.'

In [71]:
name = "신윤수"
loc = '서울'

intro = f"저는 {name}이고 {loc}에 삽니다."
print(intro)
#3.6버전부터 가능한 표현식

저는 신윤수이고 서울에 삽니다.

# 연습문제4

In [77]:
a = "20190505chicken19000"
year = a[:4]
day = a[4:8]
menu = a[8:15]
money = a[15:]

print(year, day, menu, money, sep = ", ")

2019, 0505, chicken, 19000

#  연습문제5

In [79]:
a = "90:30:80"
math = int(a[:2])
english = int(a[3:5])
science = int(a[6:])

mean = (math+english+science)/3
print(mean)

66.66666666666667

In [84]:
quote = "my best career partner"

quote2 = "hello"
len(quote2)

5

In [87]:
quote2.index('l')

2

In [88]:
quote.upper()
#lower()는 소문자 변환

'MY BEST CAREER PARTNER'

In [89]:
quote2.replace('he', 'hi')

'hillo'

In [90]:
"pear, apple, banana, orange".replace('pear', 'mango')

'mango, apple, banana, orange'

In [92]:
quote.count(' ')

3

In [98]:
quote = "       " + quote + "  "
quote

'              my best career partner  '

In [99]:
quote.strip()

'my best career partner'

In [100]:
quote.lstrip()

'my best career partner  '

In [101]:
quote.rstrip()

'              my best career partner'

In [105]:
fruits = "pear, apple, grape, mango, watermelon"
fruit_list = fruits.split(',')
fruit_list

['pear', ' apple', ' grape', ' mango', ' watermelon']

In [106]:
type(fruit_list)

list

In [107]:
fruit_list[0]

'pear'

In [108]:
fruit_list[0:3]

['pear', ' apple', ' grape']

In [109]:
len(fruit_list)

5

In [113]:
",".join(fruit_list)

'pear, apple, grape, mango, watermelon'

# 연습문제6

In [115]:
a = " 90:30:80 "
a = a.strip()
math, english, science = (a.split(":"))
mean = (int(math) + int(english) + int(science))/3
mean

66.66666666666667

In [116]:
a = [1,2,3,'a','b','c']
a

[1, 2, 3, 'a', 'b', 'c']

In [117]:
type(a)

list

In [118]:
tuple_a = (1,2,3,'a','b','c')
tuple_a

(1, 2, 3, 'a', 'b', 'c')

In [119]:
type(tuple_a)

tuple

In [120]:
a[0] = 0
a

[0, 2, 3, 'a', 'b', 'c']

In [121]:
tuple_a[0] = 1

TypeError: 'tuple' object does not support item assignment

In [122]:
dict_me = {
    'name': "신윤수",
    'height': 180,
    'loc': "서울"
}
dict_me

{'name': '신윤수', 'height': 180, 'loc': '서울'}

In [123]:
dict_me['name']

'신윤수'

In [124]:
dict_me['height']

180

In [1]:
a = [1,2,3,4]
b = (1,2,3,4)

print(a[2])
print(b[1])

3
2

In [2]:
my_tuple = (1,2,3,4,5)
type(my_tuple)

tuple

#### 길이가 1인 튜플

In [5]:
my_tuple2 = (1,)
type(my_tuple2)

tuple

#### 연산자 보충

In [7]:
a=1
a += 1
print(a)
#+외에도 사칙연산 모두 똑같이 적용가능

2

## range()

In [137]:
range(10)

range(0, 10)

In [138]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [139]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [140]:
list(range(2,10,2))

[2, 4, 6, 8]

In [141]:
list(range(5,-10,-2))

[5, 3, 1, -1, -3, -5, -7, -9]

# 리스트

In [142]:
list1 = ['a','b','c','d']
print(list1[3])
print(list1[-2])
print(list1[:2])

d
c
['a', 'b']

In [143]:
list1[1] = 4
list1

['a', 4, 'c', 'd']

In [144]:
list1[1:3] = [1,2]
list1

['a', 1, 2, 'd']

In [145]:
del list1[1]
list1
#삭제 1번 방법

['a', 2, 'd']

In [146]:
a = ['a','b','c']
a*3

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [147]:
b = ['d','e','f']
a+b

['a', 'b', 'c', 'd', 'e', 'f']

In [148]:
len(b)

3

In [149]:
'd' in b
#많이 쓴다

True

In [150]:
empty_list = []
empty_list.append(1)
empty_list

[1]

In [151]:
empty_list.append(3)
empty_list
#추가하는 방법1

[1, 3]

In [152]:
num = empty_list.pop()
print(empty_list)
print(num)
#삭제2

[1]
3

In [153]:
empty_list.extend(['a','b','c'])
empty_list
#추가하는 방법2
#리스트 자신의 값이 바뀌는 것에 주의

[1, 'a', 'b', 'c']

In [165]:
a = [1]
new_list = ['a','b','c']
a = a+new_list
a
#위와 같음

[1, 'a', 'b', 'c']

In [166]:
a.insert(2,1000)
a

[1, 'a', 1000, 'b', 'c']

In [167]:
a.remove('a')
a
#삭제3

[1, 1000, 'b', 'c']

In [168]:
a.index('c')

3

In [169]:
a = [1,2,2,3,3,3]
a.count(1)

1

In [170]:
a.count(2)

2

In [171]:
a.reverse()
a

[3, 3, 3, 2, 2, 1]

In [172]:
sort_list = [3,1,5,2,88,12]
sort_list.sort()
sort_list

[1, 2, 3, 5, 12, 88]

In [174]:
sort_list.sort(reverse=True)
sort_list

[88, 12, 5, 3, 2, 1]

## list복사

In [175]:
list_a = [1,2,3,4,]
list_a

[1, 2, 3, 4]

In [177]:
list_b = list_a
list_b

[1, 2, 3, 4]

In [178]:
a=10
b=a
b

10

In [179]:
b=b+1
print(a)
print(b)

10
11

In [180]:
list_b[2] = 5
list_b

[1, 2, 5, 4]

In [181]:
list_a
#복사한 의미가 없다.
#메모리의 주소값으로 접근하기 때문

[1, 2, 5, 4]

### 해결책

In [182]:
list_a = [1,2,3,4]
list_b = list_a.copy()
list_b[2] = 5
print(list_a)
print(list_b)

[1, 2, 3, 4]
[1, 2, 5, 4]

## 다차원 리스트

In [184]:
dim2_list = [[1,2], [3,4]]
dim2_list

[[1, 2], [3, 4]]

In [185]:
len(dim2_list)

2

In [186]:
dim2_list[0]

[1, 2]

In [187]:
type(dim2_list[0])

list

In [188]:
import copy
dim2_b_list = copy.deepcopy(dim2_list)
dim2_b_list

[[1, 2], [3, 4]]

In [189]:
dim2_list[1][0]

3

# 딕셔너리

In [190]:
a = {
    'name': 'Tom',
    'english': 80,
    'math' : 99
}
a

{'name': 'Tom', 'english': 80, 'math': 99}

In [191]:
type(a)

dict

In [192]:
b = dict(name = "Tom",
        english = 80,
        math = 99)
b

{'name': 'Tom', 'english': 80, 'math': 99}

In [193]:
'name' in b

True

In [194]:
len(b)

3

In [195]:
b = dict(name = "Tom",
        score = {'english': 80,
        'math': 99}
        )
b

{'name': 'Tom', 'score': {'english': 80, 'math': 99}}

In [196]:
len(b)

2

In [197]:
b['score']['science'] = 100
b

{'name': 'Tom', 'score': {'english': 80, 'math': 99, 'science': 100}}